<nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 999 !important;">
    <a class="navbar-brand" href="#">
        <img class="img-fluid nav-ctc-logo " src="./assets/images/logo.png">
    </a>
    <span style="font-size: 25px;cursor:pointer;" (click)="toggleCollapse()">&#9776;</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <img class="img-fluid nav-school-logo" src="./assets/images/logo.png">
        </ul>
        <form class="form-inline my-2 my-lg-0 d-inline-flex">
            <div class="form-inline-dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Teja Prasad
                </a>
                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#"><i class="fa fa-user" aria-hidden="true"></i>My Profile</a>
                </div>
            </div>
            <a class="navbar-brands" href="">
                <img class="img-fluid nav-logo" src="./assets/images/avatar.png">
            </a>
        </form>
    </div>
</nav>