<div class="main-sidemenu">
    <div class="row" style="padding: 19px 10px 0px 20px">
        <h2>IAM Main Menu</h2>
    </div>
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #snav fixedTopGap="56" style="visibility: visible!important;">
            <mat-nav-list>
                <span *ngFor="let item of menu">
                    <span *ngIf="item.children && item.children.length > 0">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title style="color: #fff!important;">
                                        <!-- Cabeceras del submenu -->
                                        <div fxLayout="row" class="d-flex" fxLayoutAlign="space-between center">
                                            <mat-icon style="margin-right:5px">{{item.iconName}}</mat-icon>
                                            <span>{{item.displayName}}</span>

                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <span *ngFor="let child of item.children">
                                    <mat-list-item [routerLink]="child.route" class="panel-items" [routerLinkActive]="['is-active']" style="color: #fff!important;">
                                        <!-- Entradas de cada submenú  -->
                                        <div fxLayout="row" class="d-flex" style="font-size: 15px;" fxLayoutAlign="space-between center">
                                            <mat-icon style="margin-right:5px;font-size: 19px;">{{child.iconName}}</mat-icon>
                                            <span>{{item.displayName}}</span>
                                        </div>
                                    </mat-list-item>
                                </span>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </span>
                    <span *ngIf="!item.children || item.children.length === 0">
                        <mat-list-item [routerLink]="item.route" [routerLinkActive]="['is-active']" style="color: #fff!important;">
                            <!-- Entradas principales -->
                            <div fxLayout="row" class="d-flex" style="font-size: 15px;" fxLayoutAlign="space-between center">
                                <mat-icon style="margin-right:5px;font-size: 19px;">{{item.iconName}}</mat-icon>
                                <span>{{item.displayName}}</span>
                            </div>
                        </mat-list-item>
                    </span>
                </span>
            </mat-nav-list>
        </mat-sidenav>

    </mat-sidenav-container>

</div>