<div class="container">
    <div class="row  bg-white pb-3 pt-2 " id="section9">
            <img class="img-fluid" src="../../assets/harish-images/Logo.png">      
    </div>
    <div class="row col-md-12 p-3 section1-bg">
        <div class="col-md-7" id="section1">
            <h1>Buy any Quantity
                and Get Wholesale
                Price!</h1>
        </div>
        <div class="col-md-5 p-4 bg-light">
            <div class="col-md-12 text-center signup-text">
                Sign up for a Free Membership
                Trial and enjoy the benefits!
            </div>
            <div class="col-md-12 mt-3">
                <input type="text" class="form-control text-center" placeholder="Enter Your Full Name"
                    aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="col-md-12 mt-3">
                <input type="text" class="form-control text-center" placeholder="Enter Your Email Address"
                    aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="col-md-12 mt-3">
                <input type="text" class="form-control text-center" placeholder="Enter Your Phone Number"
                    aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="col-md-12 mt-3">
                <a type="button" class="btn form-control section1-bg text-white" href="https://cognitionuae.com/customer/account/create/">Start Your 21 Days Free
                    Trial</a>
            </div>
        </div>
    </div>
    <div class="row col-md-12 bg-light p-3" id="section2">
        <div class="col-md-3 text-center">
            <div class="col-md-12">
                <img class="img-fluid w-75" src="../../assets/harish-images/Cleaning-Product.png">
            </div>
            <h1>Cleaning Supplies</h1>
        </div>
        <div class="col-md-3 text-center">
            <div class="col-md-12">
                <img class="img-fluid w-75" src="../../assets/harish-images/Office-Supplies.png">
            </div>
            <h1>Office Supplies</h1>
        </div>
        <div class="col-md-3 text-center">
            <div class="col-md-12">
                <img class="img-fluid w-75" src="../../assets/harish-images/Pantry-Supplies.png">
            </div>
            <h1>Pantry Supplies</h1>
        </div>
        <div class="col-md-3 text-center">
            <div class="col-md-12">
                <img class="img-fluid  w-75" src="../../assets/harish-images/School-Supplies.png">
            </div>
            <h1>School Supplies</h1>
        </div>

    </div>
    <div class="row col-md-12 section1-bg p-3" id="section3">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a type="button" class="btn form-control radius text-red bg-light" href="https://cognitionuae.com/customer/account/create/">Start Your 21 Days Free
                Trial</a>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row col-md-12 bg-light p-3" id="section4">
        <p>Cognition UAE is an E-commerce website selling Office, School, Pantry and Cleaning
            supplies. Whether you are buying for your Household or for your Office in Dubai, you are
            at the right place. You can Buy any Quantity and Get Wholesale Price!</p>
        <p class="mt-3">Wholesale prices are prices you get when you buy big quantities of a particular product.
            We are changing things by providing wholesale prices all year round, without any
            conditions, without any minimum order quantities and applicable on all products.</p>
        <p class="mt-3">
            <b>Mission: To reduce living costs of households and operating costs of companies in
                Dubai, UAE</b>
        </p>
    </div>
    <div class="row col-md-12 bg-white p-3" id="section5">
        <div class="col-md-12 text-center">
            <h1 class="text-red section5-header">Reasons to buy from us:</h1>
        </div>
        <div class="col-md-4 text-center">
            <div class="col-md-12">
                <img class="img-fluid" src="../../assets/harish-images/Original-Icon.png">
            </div>
            <h1>Authentic and Quality Products</h1>
        </div>
        <div class="col-md-4 text-center">
            <div class="col-md-12">
                <img class="img-fluid" src="../../assets/harish-images/Secure-Payment.png">
            </div>
            <h1>Secure and Easy Ordering</h1>
        </div>
        <div class="col-md-4 text-center">
            <div class="col-md-12">
                <img class="img-fluid" src="../../assets/harish-images/GREAT-SAVING-OF-TIME-AND-MONEY.png">
            </div>
            <h1>Great Savings of time and money</h1>
        </div>
        <div class="col-md-4 text-center">
            <div class="col-md-12">
                <img class="img-fluid" src="../../assets/harish-images/FREE-DELIVERY.png">
            </div>
            <h1>Free Delivery always</h1>
        </div>
        <div class="col-md-4 text-center">
            <div class="col-md-12">
                <img class="img-fluid" src="../../assets/harish-images/EASY-REFUND.png">
            </div>
            <h1>Free & Painless Returns</h1>
        </div>
        <div class="col-md-4 text-center">
            <div class="col-md-12">
                <img class="img-fluid" src="../../assets/harish-images/GREAT-CUSTOMER-SERVICE.png">
            </div>
            <h1>Committed to Great Customer service</h1>
        </div>
    </div>
    <div class="row col-md-12 section1-bg p-3 text-center" id="section6">
        <h1>Minimum savings of AED 3,000/per year. More purchases. More savings!</h1>
    </div>
    <div class="row col-md-12 bg-light p-3" id="section7">
        <div class="col-md-3">
        </div>
        <div class="col-md-3 text-center">
            <img class="img-fluid w-50" src="../../assets/harish-images/Individual-Membership.png">
            <table class="table mt-3 table-striped table-bordered" >
                <tbody >
                    <tr>
                        <td class="p-3 bg-secondary" style="color:#fff">INDIVIDUAL MEMBERSHIP</td>
                    </tr>
                    <tr>
                        <td class="bg-danger p-4" style="color:#fff"><span><b style="font-size:25px">AED 99</b>/2months
                                <p class="mt-3" style="font-size: 12px;">Only AED 1.65 per day!</p>
                            </span></td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #ebeced;color: #aa1b2b;"></i>&nbsp;<b>Delivery</b> in Dubai only</td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #fff;color: #aa1b2b;"></i>&nbsp;<b>Unlimited</b> purchase</td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #ebeced;color: #aa1b2b;"></i>&nbsp;<b>Free</b> delivery</td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #fff;color: #aa1b2b;"></i>&nbsp;<b>Get</b> products in wholesale price</td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #ebeced;color: #aa1b2b;"></i>&nbsp;Able to purchase 800+ products</td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #fff;color: #aa1b2b;"></i>&nbsp;Access to new products added
                            to Pantry-Cleaning-Office-School
                            supplies!</td>
                    </tr>
                    <tr>
                        <td class="p-3">
                            <button type="button" class="btn  bg-danger text-white">SIGN UP
                                </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3 text-center">
            <img class="img-fluid w-50" src="../../assets/harish-images/Corporate-Membership.png">
            <table class="table mt-3 table-striped table-bordered">
                <tbody>
                    <tr>
                        <td class="p-3 bg-secondary" style="color:#fff">COMPANY MEMBERSHIP</td>
                    </tr>
                    <tr>
                        <td class="bg-danger p-4" style="color:#fff"><span><b style="font-size:25px">AED 119</b>/2months
                                <p class="mt-3" style="font-size: 12px;">Only AED 1.95 per day!</p>
                            </span></td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #ebeced;color: #aa1b2b;"></i>&nbsp;<b>Delivery</b> in Dubai only</td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #fff;color: #aa1b2b;"></i>&nbsp;<b>Unlimited</b> purchase</td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #ebeced;color: #aa1b2b;"></i>&nbsp;<b>Free</b> delivery</td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #fff;color: #aa1b2b;"></i>&nbsp;<b>Get</b> products in wholesale price</td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #ebeced;color: #aa1b2b;"></i>&nbsp;Able to purchase 800+ products</td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #fff;color: #aa1b2b;"></i>&nbsp;Access to new products added
                            to Pantry-Cleaning-Office-School
                            supplies!</td>
                    </tr>
                    <tr>
                        <td class="p-3">
                            <button type="button" class="btn bg-danger text-white">SIGN UP
                                </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row col-md-12 section1-bg p-3" id="section8">
        <div class="col-md-7 text-center"><h1> Try before you sign up for a membership!</h1></div>
        <div class="col-md-5"><a type="button" class="btn form-control radius text-red bg-light" href="https://cognitionuae.com/customer/account/create/">Start Your 21 Days Free
            Trial</a></div>        
    </div>
    <div class="row col-md-12 section1-bg p-3 mt-3" id="section9">
        <div class="col-md-1"></div>
        <div class="col-md-10">       <button type="button" class="btn form-control radius text-red bg-light" style="font-size: 25px;"><i style="color: #25D366;" class="fa fa-whatsapp"></i> 058 84 76763 or Mail us hello@cognitionuae.com to know more!</button>     
        </div>
        <div class="col-md-1"></div>
    </div>
</div>