.error {
  caret-color: #f44336 !important;
}
.page-container-box {
  background: #f8f9fa; 
}
.page-container-header {
    padding: 10px 15px;
    background: #273d54;
    color: #fff;
}
.breadcrumb-div {
  float: right;
}
.breadcrumb-div a {
  text-decoration: none;
  color: #000;
}
.page-title{
    font-size: 22px;
    font-weight: 500;
}
