<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Sample Form</h1>
        </div>
    </div>
    <div class="col-md-12 success-block animated fadeIn" *ngIf="successMessage">
        <div class="col-md-12">
            <i class="fa fa-check"></i>
            <b>{{successMessage}}</b>
        </div>
    </div>
    <br>
    <div class="col-md-12 error-block animated fadeIn" *ngIf="successMessage">
        <div class="col-md-12">
            <i class="fa fa-check"></i>
            <b>{{successMessage}}</b>
        </div>
    </div>
    <br>
    <form [formGroup]="addUserForm" class="col-md-12" (ngSubmit)="addUserSubmit()">
        <div class="col-md-12 error-block animated fadeIn" *ngIf="(!addUserForm.valid && formSubmitAttempt)">
            <div class="col-md-12">
                <i class="fa fa-exclamation-triangle"></i>
                <b>Please correct the following error(s):</b>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="row" style="padding-left: 30px;">
                            <div class="col-md-3 error-div"
                                *ngIf="((!addUserForm.controls['username'].valid && addUserForm.controls['username'].touched)|| (!addUserForm.controls['username'].valid && addUserForm.controls['username'].untouched && formSubmitAttempt))">
                                <i class="fa fa-circle"></i>
                                <span *ngIf="(addUserForm.controls['username'].errors?.required)">Enter "User
                                    Name"</span>

                            </div>
                            <div class="col-md-3 error-div"
                                *ngIf="((!addUserForm.controls['usertype'].valid && addUserForm.controls['usertype'].touched)|| (!addUserForm.controls['usertype'].valid && addUserForm.controls['usertype'].untouched && formSubmitAttempt))">
                                <i class="fa fa-circle"></i>
                                <span *ngIf="(addUserForm.controls['usertype'].errors?.required)">Enter "User Type
                                    "</span>
                            </div>
                            <div class="col-md-3 error-div"
                                *ngIf="((!addUserForm.controls['userdob'].valid && addUserForm.controls['userdob'].touched)|| (!addUserForm.controls['userdob'].valid && addUserForm.controls['userdob'].untouched && formSubmitAttempt))">
                                <i class="fa fa-circle"></i>
                                <span *ngIf="(addUserForm.controls['userdob'].errors?.required)">Enter "Date of
                                    Birth"</span>

                            </div>

                            <div class="col-md-3 error-div"
                                *ngIf="((!addUserForm.controls['userautocomplete'].valid && addUserForm.controls['userautocomplete'].touched)|| (!addUserForm.controls['userautocomplete'].valid && addUserForm.controls['userautocomplete'].untouched && formSubmitAttempt))">
                                <i class="fa fa-circle"></i>
                                <span *ngIf="(addUserForm.controls['userautocomplete'].errors?.required)">Enter "Number
                                    "</span>
                            </div>

                            <div class="col-md-3 error-div"
                                *ngIf="((!addUserForm.controls['userqualification'].valid && addUserForm.controls['userqualification'].touched)|| (!addUserForm.controls['userqualification'].valid && addUserForm.controls['userqualification'].untouched && formSubmitAttempt))">
                                <i class="fa fa-circle"></i>
                                <span *ngIf="(addUserForm.controls['userqualification'].errors?.required)">Enter
                                    "Qualification"</span>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>Enter User Name</mat-label>
                    <input type="text" matInput placeholder="User Name" formControlName="username"
                        [ngClass]="{'error':((!addUserForm.controls['username'].valid && addUserForm.controls['username'].touched) || (!addUserForm.controls['username'].valid && addUserForm.controls['username'].untouched && formSubmitAttempt)),'required':(isRequired == true )}">
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field #mydiv appearance="fill">
                    <mat-label>Choose User Type</mat-label>
                    <mat-select formControlName="usertype"
                        [ngClass]="{'error':((!addUserForm.controls['usertype'].valid && addUserForm.controls['usertype'].touched) || (!addUserForm.controls['usertype'].valid && addUserForm.controls['usertype'].untouched && formSubmitAttempt)),'required':(isRequired == true )}">
                        <mat-option value="ADMN">Admin</mat-option>
                        <mat-option value="VNDR">Vendor</mat-option>
                        <mat-option value="SVND">Sub Vendor</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="userdob"
                        [ngClass]="{'error':((!addUserForm.controls['userdob'].valid && addUserForm.controls['userdob'].touched) || (!addUserForm.controls['userdob'].valid && addUserForm.controls['userdob'].untouched && formSubmitAttempt)),'required':(isRequired == true )}">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>Number</mat-label>
                    <input type="text" placeholder="Choose one value" matInput formControlName="userautocomplete"
                        [matAutocomplete]="auto"
                        [ngClass]="{'error':((!addUserForm.controls['userautocomplete'].valid && addUserForm.controls['userautocomplete'].touched) || (!addUserForm.controls['userautocomplete'].valid && addUserForm.controls['userautocomplete'].untouched && formSubmitAttempt)),'required':(isRequired == true )}">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Qualifications</mat-label>
                    <mat-select formControlName="userqualification" multiple
                        [ngClass]="{'error':((!addUserForm.controls['userqualification'].valid && addUserForm.controls['userqualification'].touched) || (!addUserForm.controls['userqualification'].valid && addUserForm.controls['userqualification'].untouched && formSubmitAttempt)),'required':(isRequired == true )}">
                        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-12" style="text-align: right;">
                <button type="button" class="m-1" mat-raised-button color="primary" (click)="openDialog()">Open dialog</button>

                <button type="submit" class="m-1" mat-raised-button color="primary">Submit</button>
                <button type="button" class="m-1" mat-raised-button color="primary" (click)="BindData()">Bind
                    Data</button>
                <button type="reset" class="m-1" mat-raised-button color="primary" (click)="Reset()">Reset</button>
            </div>

            <span *ngIf="animal">
                You chose: <i>{{ animal | json }}</i>
            </span>
        </div>
    </form>
</div>

<!-- <div class="container">
    <div class="row  bg-white pb-3 pt-2 " id="section9">
            <img class="img-fluid" src="../../assets/harish-images/14.jpg">
      
    </div>
    <div class="row col-md-12 p-3 section1-bg">
        <div class="col-md-7 section1" id="section1">
            <h1>Buy any Quantity
                and Get Wholesale
                Price!</h1>
        </div>
        <div class="col-md-5 p-4 bg-light">
            <div class="col-md-12 text-center signup-text">
                Sign up for a Free Membership
                Trial and enjoy the benefits!
            </div>
            <div class="col-md-12 mt-3">
                <input type="text" class="form-control text-center" placeholder="Enter Your Full Name"
                    aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="col-md-12 mt-3">
                <input type="text" class="form-control text-center" placeholder="Enter Your Email Address"
                    aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="col-md-12 mt-3">
                <input type="text" class="form-control text-center" placeholder="Enter Your Phone Number"
                    aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="col-md-12 mt-3">
                <button type="button" class="btn form-control section1-bg text-white">Start Your 21 Days Free
                    Trial</button>
            </div>
        </div>
    </div>
    <div class="row col-md-12 bg-light p-3" id="section2">
        <div class="col-md-3 text-center">
            <div class="col-md-12">
                <img class="img-fluid w-75" src="../../assets/harish-images/2.jpg">
            </div>
            <h1>Cleaning Supplies</h1>
        </div>
        <div class="col-md-3 text-center">
            <div class="col-md-12">
                <img class="img-fluid w-75" src="../../assets/harish-images/12.jpg">
            </div>
            <h1>Office Supplies</h1>
        </div>
        <div class="col-md-3 text-center">
            <div class="col-md-12">
                <img class="img-fluid w-75" src="../../assets/harish-images/11.jpg">
            </div>
            <h1>Pantry Supplies</h1>
        </div>
        <div class="col-md-3 text-center">
            <div class="col-md-12">
                <img class="img-fluid  w-75" src="../../assets/harish-images/9.jpg">
            </div>
            <h1>School Supplies</h1>
        </div>

    </div>
    <div class="row col-md-12 section1-bg p-3" id="section3">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button type="button" class="btn form-control radius text-red bg-light">Start Your 21 Days Free
                Trial</button>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row col-md-12 bg-light p-3" id="section4">
        <p>Cognition UAE is an E-commerce website selling Office, School, Pantry and Cleaning
            supplies. Whether you are buying for your Household or for your Office in Dubai, you are
            at the right place. You can Buy any Quantity and Get Wholesale Price!</p>
        <p class="mt-3">Wholesale prices are prices you get when you buy big quantities of a particular product.
            We are changing things by providing wholesale prices all year round, without any
            conditions, without any minimum order quantities and applicable on all products.</p>
        <p class="mt-3">
            <b>Mission: To reduce living costs of households and operating costs of companies in
                Dubai, UAE</b>
        </p>
    </div>
    <div class="row col-md-12 bg-white p-3" id="section5">
        <div class="col-md-12 text-center">
            <h1 class="text-red section5-header">Reasons to buy from us:</h1>
        </div>
        <div class="col-md-4 text-center">
            <div class="col-md-12">
                <img class="img-fluid" src="../../assets/harish-images/6.jpg">
            </div>
            <h1>Authentic and Quality Products</h1>
        </div>
        <div class="col-md-4 text-center">
            <div class="col-md-12">
                <img class="img-fluid" src="../../assets/harish-images/3.jpg">
            </div>
            <h1>Secure and Easy Ordering</h1>
        </div>
        <div class="col-md-4 text-center">
            <div class="col-md-12">
                <img class="img-fluid" src="../../assets/harish-images/1.jpg">
            </div>
            <h1>Great Savings of time and money</h1>
        </div>
        <div class="col-md-4 text-center">
            <div class="col-md-12">
                <img class="img-fluid" src="../../assets/harish-images/10.jpg">
            </div>
            <h1>Free Delivery always</h1>
        </div>
        <div class="col-md-4 text-center">
            <div class="col-md-12">
                <img class="img-fluid" src="../../assets/harish-images/13.jpg">
            </div>
            <h1>Free & Painless Returns</h1>
        </div>
        <div class="col-md-4 text-center">
            <div class="col-md-12">
                <img class="img-fluid" src="../../assets/harish-images/7.jpg">
            </div>
            <h1>Committed to Great Customer service</h1>
        </div>
    </div>
    <div class="row col-md-12 section1-bg p-3 text-center" id="section6">
        <h1>Minimum savings of AED 3,000/per year. More purchases. More savings!</h1>
    </div>
    <div class="row col-md-12 bg-light p-3" id="section7">
        <div class="col-md-3">
        </div>
        <div class="col-md-3 text-center">
            <img class="img-fluid w-50" src="../../assets/harish-images/8.jpg">
            <table class="table mt-3 table-striped table-bordered" >
                <tbody >
                    <tr>
                        <td class="p-3 bg-secondary" style="color:#fff">INDIVIDUAL MEMBERSHIP</td>
                    </tr>
                    <tr>
                        <td class="bg-danger p-4" style="color:#fff"><span><b style="font-size:25px">AED 99</b>/2months
                                <p class="mt-3" style="font-size: 12px;">Only AED 1.65 per day!</p>
                            </span></td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #ebeced;color: #aa1b2b;"></i>&nbsp;<b>Delivery</b> in dubai only</td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #fff;color: #aa1b2b;"></i>&nbsp;<b>Unlimited</b> purchase</td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #ebeced;color: #aa1b2b;"></i>&nbsp;<b>Free</b> delivery</td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #fff;color: #aa1b2b;"></i>&nbsp;<b>Get</b> products in wholesale price</td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #ebeced;color: #aa1b2b;"></i>&nbsp;Able to purchase 800+ products</td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #fff;color: #aa1b2b;"></i>&nbsp;Access to new products added
                            to Pantry-Cleaning-Office-School
                            supplies!</td>
                    </tr>
                    <tr>
                        <td class="p-3">
                            <button type="button" class="btn  bg-danger text-white">SIGN UP
                                </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3 text-center">
            <img class="img-fluid w-50" src="../../assets/harish-images/5.jpg">
            <table class="table mt-3 table-striped table-bordered">
                <tbody>
                    <tr>
                        <td class="p-3 bg-secondary" style="color:#fff">COMPANY MEMBERSHIP</td>
                    </tr>
                    <tr>
                        <td class="bg-danger p-4" style="color:#fff"><span><b style="font-size:25px">AED 119</b>/2months
                                <p class="mt-3" style="font-size: 12px;">Only AED 1.95 per day!</p>
                            </span></td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #ebeced;color: #aa1b2b;"></i>&nbsp;<b>Delivery</b> in dubai only</td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #fff;color: #aa1b2b;"></i>&nbsp;<b>Unlimited</b> purchase</td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #ebeced;color: #aa1b2b;"></i>&nbsp;<b>Free</b> delivery</td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #fff;color: #aa1b2b;"></i>&nbsp;<b>Get</b> products in wholesale price</td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #ebeced;color: #aa1b2b;"></i>&nbsp;Able to purchase 800+ products</td>
                    </tr>
                    <tr>
                        <td class="p-3"><i class="fa fa-check btn-danger" style="background: #fff;color: #aa1b2b;"></i>&nbsp;Access to new products added
                            to Pantry-Cleaning-Office-School
                            supplies!</td>
                    </tr>
                    <tr>
                        <td class="p-3">
                            <button type="button" class="btn bg-danger text-white">SIGN UP
                                </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row col-md-12 section1-bg p-3" id="section8">
        <div class="col-md-7 text-center"><h1> before you sign up for a membership!</h1></div>
        <div class="col-md-5"><button type="button" class="btn form-control radius text-red bg-light">Start Your 21 Days Free
            Trial</button></div>        
    </div>
    <div class="row col-md-12 section1-bg p-3 mt-3" id="section9">
        <div class="col-md-1"></div>
        <div class="col-md-10">       <button type="button" class="btn form-control radius text-red bg-light" style="font-size: 25px;"><i style="color: #25D366;" class="fa fa-whatsapp"></i> 0588476763 or Mail us hello@cognitionuae.com to know more!</button>     
        </div>
        <div class="col-md-1"></div>
    </div>
</div> -->