<div class="content-wrapper dashboard-component">
    <div class="col-md-12 component-header">
        <div class="row mb-3">
            <div class="col-md-4">
                <span class="page-header">Dashboard</span>
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-3">
                <p-calendar placeholder="Select Date" [showIcon]="true" [readonlyInput]="true"></p-calendar>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <app-tiles></app-tiles>
    </div>
    <div class="col-md-12" style="margin-top: -30px;">
        <div class="row">
        <div class="col-md-4 mb-2 chart-padding">
            <div class="col-md-12 chart-div">
                <div class="chart-title">Patients</div>
                <div class="chart-body">
                    <p-chart type="pie" [data]="ourPatientsData"></p-chart>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2 chart-padding">
            <div class="col-md-12 chart-div">
                <div class="chart-title">Departments</div>
                <div class="chart-body">
                    <p-chart type="polarArea" [data]="ourDepartmentsData"></p-chart>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2 chart-padding">
            <div class="col-md-12 chart-div">
                <div class="chart-title">Patients Age</div>
                <div class="chart-body">
                    <p-chart type="doughnut" [data]="ourDepartmentsData"></p-chart>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-12 mb-2 mt-2 chart-padding status-graph">
        <div class="col-md-12 chart-div">
            <div class="chart-title">Status</div>
            <p-dropdown [options]="daysRange" filter="true"></p-dropdown>
            <div class="chart-body">
                <p-chart type="line" [data]="statusdata"></p-chart>
            </div>
        </div>
    </div>
    <div class="col-md-12 mb-2 mt-2 chart-padding">
        <div class="col-md-12 chart-div">
            <div class="chart-title">Latest Registrations</div>
            <div class="chart-body mt-2">
                <p-table [value]="latestRegistrations">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Name
                                <p-sortIcon  style="float:right"></p-sortIcon>
                            </th>
                            <th>Email
                                <p-sortIcon  style="float:right"></p-sortIcon>
                            </th>
                            <th>Date
                                <p-sortIcon  style="float:right"></p-sortIcon>
                            </th>
                            <th>Visit Time
                                <p-sortIcon  style="float:right"></p-sortIcon>
                            </th>
                            <th>Number
                                <p-sortIcon  style="float:right"></p-sortIcon>
                            </th>
                            <th>Doctor
                                <p-sortIcon  style="float:right"></p-sortIcon>
                            </th>
                            <th>Injury
                                <p-sortIcon  style="float:right"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-patient>
                        <tr>
                            <td><b>{{patient.name}}</b></td>
                            <td><a href="#">{{patient.email}}</a></td>
                            <td>{{patient.date}}</td>
                            <td>{{patient.time}}</td>
                            <td><a href="#">{{patient.number}}</a></td>
                            <td>{{patient.doctor}}</td>
                            <td>{{patient.injury}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    
</div>